@model MVC3Tests.Models.Fund

    
        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManagerID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ManagerID", new SelectList(ViewBag.Managers as System.Collections.IEnumerable, "ID", "Name", Model.ManagerID))
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StrategyID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("StrategyID", new SelectList(ViewBag.Strategies as System.Collections.IEnumerable, "ID", "Name", Model.StrategyID))
        </div>


