@using MVC3Tests.Models

@model IEnumerable<Manager>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <table>
        <tr>
            <th>Manager</th>
            <th>Fund</th>
            <th></th>
        </tr>
        
    @foreach (var manager in Model)
    {
        var numFunds = manager.Funds.Count;
        bool manName = true;
        foreach (var fund in manager.Funds)
        {
            <tr>
                @if (manName)
                {
                    <td rowspan="@numFunds">
                        @manager.Name 
                        @{
                            manName= false;
                        }
                    </td>
                }
                <td>
                    @fund.Name  
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Fund", new {fund.ID}, new {}) 
                </td>
            </tr>
        }
    }
    </table>
    @Html.ActionLink("Create New", "Create", "Fund")
</p>
