@using MVC3Tests.Models

@model IEnumerable<Fund>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <table>
        <tr>
            <th>Manager</th>
            <th>Fund</th>
            <th></th>
        </tr>
    @foreach(var fund in Model)
        {
            <tr>
                <td>
                    @fund.Manager.Name 
                </td>
                <td>
                    @fund.Name  
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Fund", new { fund.ID }, new{}) 
                </td>
            </tr> 
        }
    </table>
    @Html.ActionLink("Create New", "Create", "Fund")
</p>
