@using MVC3Tests.Models

@model IEnumerable<Fund>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <ul>
        @foreach(var fund in Model)
        {
            <li><div>@Html.ActionLink("Edit", "Edit", "Fund", new { fund.ID }, new{}) @fund.Manager.Name >> @fund.Name</div></li>
        }
    </ul>
    @Html.ActionLink("Create New", "Create", "Fund")
</p>
